beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
capsolver==1.0.7
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
curl_cffi==0.7.1
Flask==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pycparser==2.22
requests==2.32.3
soupsieve==2.5
urllib3==2.2.2
Werkzeug==3.0.3
